* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    list-style: none;
    border-radius: 16px;
}

@font-face {
    font-family: "DM Sans";
    src: url(./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "Bricolage Grotesque";
    src: url(./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

body {
    background-color: hsl(243, 96%, 9%);

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
}


/* ################################# Layout and Responsiveness ################################# */

/* ############# Head ############# */

.site-header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

/* ############# Layout ############# */
.app {
    min-width: 350px;
    padding: 2% 8%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}



/* Desktop layout */
@media (min-width: 1024px) {
    .layout {
        grid-template-columns: 9fr 4fr;
    }
}


/* ############# content ############# */

.content {
    display: grid;
    gap: 30px;
}


.main-card {
    min-height: 286px;
    padding: 24px;
    font-size: 1.6rem;
    text-align: center;

    background-image: url(assets/images/bg-today-small.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media (min-width: 640px) {
    .main-card {
        background-image: url("./assets/images/bg-today-large.svg"); 
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
    }
}


.info-list ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.info-list li {
    min-height: 120px;
    padding: 16px;
    background-color: hsl(243, 27%, 20%);
    border: 1px solid hsl(243, 23%, 30%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.daily-forecast {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.daily-forecast ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
    gap: 12px;
}

.daily-forecast li {
    height: 160px;
    padding: 12px;
    background-color: hsl(243, 27%, 20%);
    border: 1px solid hsl(243, 23%, 30%);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* ############# aside ############# */

.hourly-forecast {
    background-color: hsl(243, 27%, 20%);
    padding: 25px;

    display: flex;
    flex-direction: column;
}

.hourly-forecast header {
    margin-bottom: 15px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.hourly-forecast ul {
    flex: 1;
    max-height: calc(100vh - 200px); /* to allow scrolling in mobbile view*/
    overflow-y: auto;              
    padding-right: 8px;
    border-radius: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

}

/* aside (.hourly-forecast ul) can shrink in Desktop view to match .content height */
@media (min-width: 1024px) {

    .hourly-forecast ul {
        flex: 1 1 0;
        max-height: none;
    }
}

.hourly-forecast li {
    background-color: hsl(243, 23%, 24%);
    padding: 10px;
    border: 1px solid hsl(243, 23%, 30%);
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}



/* ################################# Styles ################################# */


/* ############# Head ############# */
.logo {
    height: 2rem;
    width: auto;
}

.units-btn {
    background-color: hsl(243, 27%, 20%);
    border: 1px solid hsl(243, 23%, 30%);
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;
    justify-content: center;
    gap: 8px;
}
.units-btn:hover {
    background-color: hsl(243, 23%, 30%);
}

h1 {
    font: 700 3rem 'Bricolage Grotesque' ;
    padding: 10vh;
    text-align: center;
}

h3 {
    font-weight: 500;
}

.search {
    width: 100%;
    margin-bottom: 5vh;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (min-width: 640px) {
    .search {
        max-width: 40vw;
        margin-bottom: 10vh;

        flex-direction: row;
        justify-content: center;
    }
}

.search input[type="search"] {
    flex: 1;
    background-color: hsl(243, 27%, 20%);
    border: 1px solid hsl(243, 23%, 30%);
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    outline: none;
    transition: border-color 0.2s ease;

    padding-left: 40px;
    background-image: url(./assets/images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
}
.search input[type="search"]::placeholder {
    color: hsl(240, 6%, 70%);
}
.search input[type="search"]:focus {
    border-color: hsl(233, 67%, 56%);
}

.search input[type="submit"] {
    background-color: hsl(233, 67%, 56%);
    border: none;
    padding: 12px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: "DM Sans", sans-serif;
}
.search input[type="submit"]:hover {
    background-color: hsl(248, 70%, 36%);
}


/* ############# Content ############# */
.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.date {
    font-size: medium;
    font-weight: 200;
}
.icon-degree {
    font: italic 600 clamp(2rem, 5rem, 6rem) "DM Sans";
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.icon-degree img {
    height: 7rem;
}


.info-list header {
    font-size: 1.2rem;
    font-weight: 200;
}
.info-list p {
    font-size: 2rem;
    font-weight: 200;
}


.daily-forecast h3{
  margin-bottom: 15px;
}

.daily-forecast img {
    height: 3rem;
    width: 3rem;
}
.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* ############# aside ############# */
.date-btn {
    background-color: hsl(243, 23%, 24%);
    border: 1px solid hsl(243, 23%, 30%);
    color: hsl(0, 0%, 100%);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    padding-right: 30px;
    background-image: url(assets/images/icon-dropdown.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.date-btn:hover {
    background-color: hsl(243, 23%, 30%);
}

.hourly-forecast img {
    height: 2rem;
    width: auto;
}

.icon-time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hourly-forecast ul::-webkit-scrollbar{ 
    width:3px;
}
.hourly-forecast ul::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,0.06);
    border-radius: 10px;
}